@using Microsoft.AspNetCore.Mvc.Rendering
@using project.ViewModels
@model IEnumerable<CreateOrEditPlayerViewModel>
@{
    ViewData["Title"] = "Cписок всех футболистов";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered text-center table-hover table-striped" id="footballPlayers">
    <thead class="table-light">
    <tr>
        <th scope="col" hidden="hidden" style="display: none">id</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Пол</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Команда</th>
        <th scope="col">Страна</th>
        <th scope="col" style="width: 20%">Действие</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr class="text-center align-middle">
            <td style="display:none">
                @Html.DisplayFor(m => p.Id)
            </td>
            <td >
                @Html.DisplayFor(m => p.Name)
            </td>
            <td >
                @Html.DisplayFor(m => p.Surname)
            </td>
            <td >
                @Html.DisplayFor(m => p.Sex)
            </td>
            <td >
                @Html.DisplayFor(m => p.DateOfBirth)
            </td>
            <td >
                @Html.DisplayFor(m => p.Team.Name)
            </td>
            <td >
                @Html.DisplayFor(m => p.Country)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "CreateOrEdit", "Catalog", new { p.Id }, new { @class = "btn btn-warning btn-sm", type = "button" })
                @Html.ActionLink("Удалить", "Delete", "Catalog", p.Id, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}