@model IEnumerable<PlayerViewModel>
@{
    ViewData["Title"] = "Cписок всех футболистов";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr><td>Имя</td><td>Фамилия</td><td>Пол</td>
        <td>Дата рождения</td><td>Команда</td><td>Страна</td><td></td></tr>
    @foreach (var p in Model)
    {
        <tr><td>@p.Name</td><td>@p.Surname</td><td>@p.Sex</td>
            <td>@p.DateOfBirth</td><td>@p.Team</td><td>@p.Country</td><td><button type="button" class="btn btn-primary">Редактировать</button></td></tr>
    }
</table>
