@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PlayerModelView
@{
    ViewData["Title"] = "Добавление футболиста";
}
<h1>@ViewData["Title"]</h1>
<div class="w-50">
    <form class="mt-3" method="post" asp-action="Index">
        <div class="mb-3">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Имя" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "Фамилия" })
            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.DropDownListFor(m => m.Sex, new SelectList(Enum.GetValues(typeof(Sex))), "Пол", new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.Sex, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3 align-items-center row">
            <div class="col"> @Html.LabelFor(m => m.DateOfBirth)</div>
            <div class="col"> @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes =  new {@class = "form-control", placeholder = "Дата рождения"}})</div>
            @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.TextBoxFor(m => m.Team, new { @class = "form-control", placeholder = "Название команды", list = "datalistOptions"})
            <datalist id="datalistOptions">
                @foreach (var team in ViewBag.Teams)
                {
                    <option>@team</option>
                }
            </datalist>
            @Html.ValidationMessageFor(m => m.Team, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.DropDownListFor(m => m.Country, new SelectList(Enum.GetValues(typeof(Country))), "Страна", new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary Submit" >Создать</button>
        @ViewBag.Result
    </form>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
          $("body").on("click", ".Submit", function (){
              if (Page_ClientValidate){
                  event.preventDefault();
                            $(this).prop("disabled", true).text('Сохранение...');
                            $(".submit-progress").removeClass("hidden");
                            setTimeout(function (){
                                $("form").submit()
                                }, 2);
                            return true;
                  }
              else {alert("invalid")}
              });          
    </script>
}